<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShipperService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55896/ShipperService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipperService"
                contract="IShipperService" name="BasicHttpBinding_IShipperService" />
        </client>
    </system.serviceModel>
</configuration>