<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmployeeService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60142/EmployeeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="IEmployeeService" name="BasicHttpBinding_IEmployeeService"/>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>